<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Training Helper</title>
</head>
<body>
    <h1>Home Training Routine</h1>

    <h3>Your RFM: <%= resultrfm%></h3>
    <p class="smallNotice"><%=alert %></p>
        
    <h3>Your Routine: <%= routine%> </h3>
    

</body>
</html>