body{
    width:70%;
    margin: 0 15%;
    background: #ddd;
}

label {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

legend {
    font-size: 1.7rem;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

fieldset {
    border-width: 4px;
}

.sNotice {
    color:#ff5555;
}
.smallNotice{
    color: #ff5555;
    font-size: 1rem;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}

.bodyInformationContainer, .planningContainer, .mainHeader , .submitContainer{
    width:50%;
    margin: 20px 25%;
}

.bodyInformationContainer label {
    color: #fff;
}

.bodyField{
    background-color: #2f4f4f;
}
.genderContainer, .unitContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 2%;
}

.genderContainer > .genderRadio {
    font-size: 1.2rem;
}

.unitContainer > label {
    font-size: 1.5rem;
}

.unitContainer > select {
    width: 25%;
    margin-top: 10px;
    font-size: 1.2rem;
}

.unitContainer > .smallNotice {
    margin: 3px 10px;
    text-align: left;
}

.heightContainer, .waistContainer, .h1Container {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.heightContainer, .waistContainer{
    justify-content: start;
}

.h1Container {    
    justify-content: center;
    background: #fff;
    border-radius: 10px;
}

.h1Container h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}


.heightContainer > input {
    width:  10%;
    margin-left: 160px;
}

.waistContainer > input  {
    width: 10%;
    margin-left: 10px;
}



.planField{
    background-color: #333;
}

.planningContainer label {
    color: #eee;
}

.planningContainer select {
    margin-left: 10px;
    font-size: 1.2rem;
}

.planningContainer option {
    font-size: 1.2rem;
}

.levelContainer {
    margin-top: 20px;
}

.levelRadio {
    margin-top: 10px;
}

.levelRadio > label {
    font-size:  1.2rem;
}

.submitContainer {
    display: flex;
    justify-content: center;
}

.submitContainer input {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #555;
    color: #fff;
}
#ejsBody {
    width: 90%;
    margin: 0 auto;
}

.routineContainer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
}

.days:nth-child(2n){
    background: #8888dd;
    width: 20%;
    margin: 0 0.5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.days:nth-child(2n-1){
    background: #7373b3;
    width: 20%;
    margin: 0 0.5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.days h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 5px;
}

.days h2 {
    background: #aad;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.days table, .days table>tr, .days table>tr>th, .days table>tr>td {
    text-align: center;
}